{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "esmodules": true, "node": "current" } }
    ], // It's the name of the lib you installed
    ["@babel/preset-react", { "runtime": "automatic" }], // It's the name of the lib you installed
    [
      "babel-preset-vite",
      {
        "env": true,
        "glob": false
      }
    ]
  ]
}
